*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toolbox-container{
    width: 100vw;
    height: 5rem;
    background-color: black;
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    
}

.toolbox-priority-cont{
    height: 3rem;
    width: 18rem;
    background-color: aliceblue;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont{
    height: 3rem;
    width: 12rem;
    background-color: aliceblue;
    margin-left: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color{
    height: 1.5rem;
    width: 3rem;
    background-color: yellow;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.pink{
    background-color: pink;
}

.add-btn{
    font-size: 1.75rem;
}

.remove-btn{
    font-size: 1.5rem;
}

.modal-cont{
    height: 40vh;
    width: 30vw;
    background-color: burlywood;
    display: none;
    position: fixed;
    left: 35vw;
    top:25vh;
    border: 1px solid black;
    /* visibility: hidden; */
}

.textarea-cont{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    resize: none;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid black;
    text-align: auto;
    /* text-wrap: wrap; */
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.main-cont{
    display: flex;
    margin: 2rem 0rem;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
}

.ticket-cont{
    height: 10rem;
    width: 15rem;
    background-color:cornsilk;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    height: 1rem;
    font-weight: bold;
    background-color: grey;
}

.ticket-area{
    /* background-color: black; */
    height: 8rem;
    padding: 5px;
    font-size: 1.25;
}

.active{
    border: 5px solid yellow;
}